<div class="fh5co-features-style-1 subpages-header" style="background-image: url(assets/patent.jpg);" data-stellar-background-ratio="0.5">
  <div class="fh5co-overlay"></div>
  <div class="container" style="z-index: 3; position: relative;">
  <div class="row p-b"></div>
    <div class="row">
      <div class="fh5co-features">
        <div class="fh5co-feature wow fadeInUp pages_header" data-wow-duration="1s" data-wow-delay=".8s">
          <h2 class="fh5co-heading">O Projektu</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h3>Nekaj o projektu</h3>
  <p>Projekt PKP "Znanja svetovno najuspešnejših menedžerjev intelektualne lastnine za slovenska podjetja in samostojne inovatorje" je potekal med 1.3.2017 in 32.7.2017; in je bil financiran s strani  Ministrstvo za izobraževanje, znanost in šport Republike Slovenije, Javni štipendijski, razvojni, invalidski in preživninski sklad Republike Slovenije in Evropski socialni sklad Evropske unije.</p>
</div>

<img src="assets/obisk360.png" alt="" style="height: 600px; width: 100%;">
<p class="text-center"><em>V projektu je sodelovalo 6 študentov FIŠ, 2 pedagoška mentorja, 2 delovni mentorici in 2 dodatna sodelavca.</em></p>

<div class="container">
  <p>Pravice intelektualne lastnine (PIL) zagotavljajo zaščito lastnih inovacij. Poznavanje lastnih in tujih PIL nadalje očrta prosto polje delovanja podjetij in posameznikov (ang. freedom to operate). Slednje je za naša mala in srednja podjetja (MSP) ter samostojne inovatorje izrazito pomembno. Za to, da podjetja lahko upravljajo procese povezane s PIL optimalno, morajo le-te dobro poznati - ob hkratnem dobrem poznavanju lastnih procesov ter delovanja in trendov v konkurenci. Zaradi tega je informacijska plat problematike, t.j. pridobivati pravilne in pravočasne informacije na način in v obsegu, ki ga je moč uporabiti v rednem poslovanju, izrazito pomembna, saj omogoča optimiziranje procesov povezanih s PIL. </p>

  <p>Projekt je prinesel nove ideje kako že predhodno zbrana znanja in izkušnje nekaterih izmed top IP menedžerjev iz inovacijsko najbolj uspešnih svetovnih podjetij o procesih povezanih s pravicami intelektualne lastnine uporabiti za slovenska mala podjetja in samostojne inovatorje ter prilagoditev TAD IPR modela (Modic in Damij, 2016), da bo neposredno primeren za uporabo v slovenskih MSP-jih ter za samostojne inovatorje.</p>

  <p>Za ta namen so člani skupine izvedli a) intervjuje z izbranimi podjetji ter samostojnimi inovatorji; b) pomagali testirati  in prilagoditi TAD IPR model, ki je nastal na podlagi intervjujev s top svetovnimi PIL menedžerji; in c) pripravili spletno mesto za diseminacijo rezultatov.</p>

  <p>Problemske točke, ki jih projekt posebej naslavlja so: integracija menedžmenta pravic intelektualne lastnine in procesov v ostale poslovne procese podjetij; manjkajoča povezava med t.i. Back-office in Front-office PIL postopki - predvsem prek zasnovanja ustreznih (informacijskih) kanalov in optimizacije procesov povezanih s PIL; analiza kritičnih točk IPR procesov - kot so zgornje odkrivanje (ang. early spotting) in clearance postopki.</p>

  <p>Sodelujočim je projekt ponudil priložnost priti v neposreden stik s področjem; se seznaniti z nekaterimi najboljšimi praksami menedžmenta intelektualne lastnine na svetu; vzpostaviti stike s slovenskimi podjetniki, inovatorji in menedžerji; pridobivati izkušnje izvajanja intervjujev in testiranja modela v konkretnih okoljih; predvsem pa iskanja inovativnih rešitev kako zastaviti procese, da bodo podjetja in samostojni inovatorji lahko podana znanja in izkušnje lahko konkretno uporabili. Projekt je obogaten s prenosi znanja na področju PIL.</p>

  <h3>Rezultati</h3>
  <p>Opredelitev vloge menedžmenta pravic intelektualne lastnine v slovenskem kontekstu  ter zaznavanje potreb s strani MSP ter samostojnih inovatorjev bo omogočila adaptacijo znanj in izkušenj nekaterih top menedžerjev intelektualne lastnine za potrebe slovenskih MSP in inovatorjev.</p>

  <p>Oblikovati nameravamo metodološke instrumente (vključujoč vprašalnik za pol-stukturirane intervjuje), podati predloge povezane z menedžmentom intelektualnih pravic ter prilagoditi obstoječi TAD IPR model, ki je sedaj namenjen večjim (tujim) in PIL intenzivnim podjetjem. </p>

  <div class="div-margin-bottom">
    Navedene rezultate bomo dosegli tako da bomo:
    <ul>
      <li>analizirali potrebe MSP ter samostojnih inovatorjev na področju iPIL prek analize sekundarnih virov (slovenske raziskave s področja inoviranja in PIL) ter pol-strukturiranih intervjujev.</li>
      <li>re-analizirali že izvedene intervjuje s top menedžerjev intelektualne lastnine v kontekstu iskanja rešitev relevantnih za MSP-je in samostojne inovatorje v slovenskem prostoru</li>
      <li>proučili obstoječe metodologije za zaznavanje in analizo menedžmenta pravic intelektualne lastnine</li>
      <li>določili in primerjali relevantna programska orodja za obdelavo in analizo kvalitativnih podatkov</li>
      <li>izbrali ustrezna podjetja v okviru katerih bomo izvedli intervjuje in testirali TAD IPR model in ustrezne respondente samostojne inovatorje s katerimi bomo izvedli intervjuje</li>
      <li>obdelali kvalitativne podatke v kontekstu zasnove metode analize vsebine</li>
      <li>diseminirali rezultate tega projekta (spletno mesto)</li>
    </ul>
  </div>
</div>
