<div class="fh5co-features-style-1 subpages-header" style="background-image: url(assets/ipm_background.jpg);" data-stellar-background-ratio="0.5">
  <div class="fh5co-overlay"></div>
  <div class="container" style="z-index: 3; position: relative;">
  <div class="row p-b"></div>
    <div class="row">
      <div class="fh5co-features">
        <div class="fh5co-feature wow fadeInUp pages_header" data-wow-duration="1s" data-wow-delay=".8s">
          <h2 class="fh5co-heading">Predlogi top IP managerjev</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

<% @ipm_suggestions.each.with_index do |ipm_suggestion, index| %>
  <% if index.odd? %>
    <div class="row p-b">
      <div class="col-md-8 col-md-offset-4">
        <em>"<%= ipm_suggestion.description %>"</em>
      </div>
    </div>
  <% else %>
    <div class="row p-b">
      <div class="col-md-8">
        <em>"<%= ipm_suggestion.description %>"</em>
      </div>
    </div>
  <% end %>
<% end %>

</div>
