<div class="show_article">
  <small><%= link_to '< Nazaj ', admin_articles_path, class:"back-link" %></small>
  <h1><%= @article.title %></h1>
  <p><%= @article.description %></p>
  <div class="">
    <%= image_tag @article.image.url(:medium) %>
  </div>
</div>
