<h1>Novice!</h1>

<div class="">
  <% if @articles.any? %>
    <% @articles.each do |article| %>
      <div class="article">
        <h2><%= article.title %></h2>
        <p><%= article.description %></p>
        <p><%= image_tag article.image.url(:medium) %></p>
        <%= link_to 'Prikazi', article_path(article) %>
      </div>
      <br>
    <% end %>
  <% else %>
    <p>Trenutno se ni novic!</p>
  <% end %>
</div>
