<div class="fh5co-features-style-1" style="background-image: url(assets/team_background.jpg);" data-stellar-background-ratio="0.5">
  <div class="fh5co-overlay"></div>
  <div class="container" style="z-index: 3; position: relative;">
  <div class="row p-b"></div>
    <div class="row">
      <div class="fh5co-features">
        <div class="fh5co-feature wow fadeInUp pages_header" data-wow-duration="1s" data-wow-delay=".8s">
          <h2 class="fh5co-heading">Članki</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <% if @articles.any? %>
    <% @articles.each do |article| %>
      <div class="article">
        <h2><%= article.title %></h2>
        <p><%= article.description %></p>
        <% if article.image? %>
          <p><%= image_tag article.image.url(:medium) %></p>
        <% else %>

        <% end %>
        <%= link_to 'Prikazi', article_path(article) %>
      </div>
      <br>
    <% end %>
  <% else %>
    <p>Trenutno se ni novic!</p>
  <% end %>
</div>
