<p>
  <strong>First name:</strong>
  <%= @testimonial.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @testimonial.last_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @testimonial.company_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @testimonial.description %>
</p>
