<p>
  <strong>Title:</strong>
  <%= @ipm_suggestion.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ipm_suggestion.description %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @ipm_suggestion.icon %>
</p>
