<%= stylesheet_link_tag    'application', media: 'all' %>
<%= pdfjs_viewer pdf_url: "assets/example.pdf", style: :full %>

<!-- <button class="pdf-back-button btn btn-success btn-sm btn-outline">Nazaj</button> -->

<%= link_to 'Nazaj', :back, class:'pdf-back-button btn btn-success btn-sm btn-outline' %>
