// Place all the styles related to the activity_table controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity_table_image {
    margin: auto;
    height: 600px;
    width: 600px;
}
.ipr_images {
  max-height: 100%;
  max-width: 100%;
}
.download-ipr-table-button {
  position: relative;
  bottom: 300px;
}
