// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-thumbnail {
  min-height: 460px;
  &:hover {
    transform: scale(1.01);
    background-color: #fafafa;
    border: 1px solid #777777;
  }
}
