// Place all the styles related to the ipr_tad_usage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.geometric-symbol {
  color: black;
  font-weight: bold;
  font-size: 24px;
}
