// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-article {
  display: block;
  max-width: 100%;
  height: 250px;
}
.nikola-tesla {
  color: white;
}
.ipm_suggestion_landing_box {
  &:hover {
    background-color: rgba(0, 0, 0, 0.44);
  }
}

.landing-ipr-image {
  text-align: center;
  .ipr-img {
    height: 400px;
    margin: auto;
  }
}
