<!DOCTYPE html>
<html>
  <head>
    <title>Pkp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>

    
  </head>

  <body>

      <%= yield %>


    <script>
  		new WOW().init();
  	</script>
  </body>
</html>
